.BlogPost {
	margin: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BlogPost > div {
	max-width: 80ch;
	width: 100%;
}

.BlogPost time {
	color: #ababab;
}

.Footer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 1.5em;
	border-top: 1px solid #d2d2d2;
	padding: 0.75em;
}

.Footer > span {
	margin-top: 0.75em;
	color: #ababab;
}

.Footer > span > a {
	color: #ababab;
}

.Footer > span > a:hover {
	color: #909090;
}

.Tags {
	margin-top: 0.75em;
	display: flex;
}

.Tags > a {
	display: inline;
	color: #ababab;
	text-decoration: none;
}

.Tags > a:not(:first-child) {
	margin-left: 0.75em;
}

.Tags > a:hover {
	color: #909090;
}

@media only screen and (max-width: 600px) {
	.Footer {
		align-items: center;
		flex-direction: column;
	}
}
