@import "themes/light.scss", "themes/dark.scss";

@font-face {
  font-family: "Noto Serif Regular";
  src: url("/fonts/NotoSerif.woff2") format("woff2"),  url("/fonts/NotoSerif.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.woff2") format("woff2"), url("/fonts/NotoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Italic.woff2") format("woff2"), url("/fonts/NotoSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif Regular", serif;
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;

  background-color: var(--color-bg);
  color: var(--color-fg);
}

p code {
  padding: 0.125em 0.25em;
  background-color: var(--color-bg-secondary);
  border-radius: 3px;
}

pre > code {
  margin: unset;
}

html,
body,
#root,
#__next {
  height: 100%;
}

a {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  color: var(--color-fg-secondary);
}

* {
  box-sizing: border-box;
}

div.remark-highlight {
  position: relative;
}

div.remark-highlight > span {
  border-radius: 0.5em;
  padding: 0 0.5em;

  position: absolute;
  right: 15px;
  top: -0.75em;
  font-size: 0.9em;
  z-index: 1;
}
