.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 1em;
}

.Post {
  max-width: 80ch;
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 1.5em;
}

.Post > a {
  text-decoration: none;
}

.PostFooter {
  color: #ababab;
}

.PostFooterTags {
  margin-left: 0.75em;
  display: inline;
}

.PostFooterTags > a {
  margin-left: 0.75em;
  display: inline;
  color: #ababab;
  text-decoration: none;
}

.PostFooterTags > a:hover {
  color: #909090;
}

